{% extends '@MProdLicenciaCyP/Page/base.html.twig' %}

{% block main %}                   
     {% block content %}      
      <div class="container">
         <div class="row">
          <div class="col s12 m12 l9 offset-l1">
              <div class="card-panel hoverable">
                <div class="row">
                    <form  class="col m12 s12 l12 offset-l3" action="{{ path('login_check') }}" method="post" >
                            {% if error %}                   
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                        <div class="row col s12 ">
                            <div class="input-field col s12 ">                          
                                <span class="card-title">Licencias Casa y Pesca</span>
                            </div>
                        </div>
                        
                            <div class="row">
                                <div class="input-field col m12 s12 l6">
                                    <i class="material-icons prefix">
                                            email
                                    </i>
                                    <input type="text" id="username"
                                            name="_username"
                                            value="{{ last_username }}"
                                            />
                                    <label for="username" class="center-align">Ingrese su email</label>
                                </div>
                            </div>
                            <div class="row">
                              <div class="input-field col m12 s12 l6">
                                <i class="material-icons prefix">
                                        lock
                                </i>
                                <input type="password" id="password" name="_password" />
                                <label for="password" class="">Password</label>
                              </div>
                            </div>
                                <div class="row">
                                      <div class="col m12 s12">
                                          <input type="checkbox" id="no_cerrar_session" name="_remember_me"/>
                                          <label for="no_cerrar_session">Recordarme</label>
                                      </div>
                                </div>


                                  <div class="row">
                                      <div class="col m12 s12 buttons-custom-responsive">
                                          <button type="submit" class="btn btn-primary">Aceptar</button>                                    
                                      </div>
                                  </div>     
                            <input type="hidden" name="_target_path" value="path_home" />  
                        
                  </form>       
                </div>
              </div> 
            </div>
        </div>   
      </div>   
        {% endblock %}         
        
        {% block backTop %}         
        {% endblock %}
    
     
{% endblock %}
